# <center>${\textbf{Artificial Intelligence Decision Support System}}$<br>${\textbf{ for Groundwater Management under Climate Change:}}$</center><br><center>${\textbf{ Application to Mornag Region in Tunisia}}$</center><br><center>${\textbf{RCP 4.5}}$</center>

${\textbf{Abstract}}$
The purpose of this research is to investigate the influence of climate change on GroundWater Level (GWL)  in  Mornag plain in Tunisia. Indeed, due to the spatiotemporal variability of RainFall (RF) and temperature, aquifers all over the world have seen significant water level volatility in recent decades. Therefore, for a reliable GroundWater (GW) management under climate change context, it is essential to analyze and estimate the GWL variability. In this study, we focus on the plain of Mornag, located in the southeast of Tunisia, since it contributes with 33% in the national agricultural production. From this plain, we have collected historical piezometric and RF data covering the period 2005-2015. Knowing the RF data, our goal is to forecast the GWL one. This issue has already been studied using classical numerical GW  modeling such as Modflow and Feflow. Unfortunately, these techniques are data and time consuming. To overcome all these drawbacks, we propose to use an Artificial Intelligence (AI) approach that  has shown great performance in literature for recurrent data modeling and forecasting. This approach corresponds to the Long-Short Term Memory (LSTM) Neural Network. Compared with Modflow, LSTM has shown noticeable enhancement in terms of root mean squared error minimization,  which confirms its  adequacy for GWL forecasting. Using the proposed AI prediction model, the impact of climate change on Mornag GWL has been studied under two Representative Concentration Pathway (RCP) scenarios; RCP 4.5 and RCP 8.5 for three future periods: 2015-2040 (short term), 2041-2065 (medium term) and 2066-2100 (long term). As expected, results reveal a future decline of Mornag GWL. The performed study of future Mornag GWL behavior using LSTM  could classify this AI approach  as a good decision support system that could be used to optimize the management of our limited water resources in order to satisfy the population needs in terms of drinking water and agricultural production, as well as to prevent upcoming drought.

${\textbf{Region of interest}}$
This study focuses on the Mornag plain which is located in northern Tunisia, 20 kilometers southeast of the capital Tunis. The study area climate is considered arid to semi-arid with moderate temperature. The annual RF is approximately 526mm . As illustrated in Fig. 1. This plain is drained by two major rivers (Meliane and El Hma). The surface area of the Mornag aquifer is about 200kmÂ². It stretches over 14 km from Tunis Gulf (Mediterranean Sea) in the North to the Khledia hills in the South. It is limited to the West by the Rades hills and its surroundings and to the East by the J. Rourouf mountain and its surroundings. Its hydraulic system consists of unconfined (GW lodged in recent Quaternary series) and confined aquifer (a deep aquifer which groups a series of 4 systems occured in ancient Quaternary, Oli- gocene, Miocene and Eocene sediments). The aquifer system of the Mornag plain is characterized by the presence of the most dense observation system of GWL in Tunisia . In this study, we focus on the unconfined aquifer. Thus, it is more and more exploited: in 2015, the exploitation rate reached 195 % with a deficit equal to -6.62 mm3/year. This massive exploitation created an important piezometric depression and consequently an increase in the salinity of the studied groundwater. <br>
This aquifer is monitored by 44 piezometric stations and 18 pluviometric observation points, recording the GWL and RF, respectively, which allow hydrologists and researchers to better understand and investigate the Mornag aquifer system

${\textbf{Importing Libraries}}$

In [1]:
import warnings
warnings.simplefilter("ignore")

In [2]:
import numpy as np
import pandas as pd
import datetime 
import time

${\textbf{Loading RF dataset}}$

In [3]:
RCP45 = pd.read_excel(".././Data/RCP4.5.monthly_totals.xlsx")#Read XLSX file
RCP45.rename(columns = {'date(YYYY-MM)':'Time'}, inplace = True)

## <center>${\textbf{ RCP 4.5 Data Preparation}}$<center>

In [4]:
for i in RCP45.columns[RCP45.isnull().any(axis=0)]:     #---Applying Only on variables with NaN values
    RCP45[i].fillna(RCP45[i].mean(),inplace=True)#Fill NaN value by mean

In [5]:
RCP45

,Time,MIROC-ESM,CNRM-CM5,CanESM2,FGOALS-s2,BNU-ESM,MIROC5,GFDL-ESM2G,MIROC-ESM-CHEM,GFDL-ESM2M,MRI-CGCM3,MRI-CGCM3.1
0,2009-01-01,58.80,57.51,22.73,33.720000,39.34,39.14,14.70,34.29,10.27,23.98,23.98
1,2009-02-01,66.13,115.25,53.02,65.690000,57.97,38.42,73.59,47.07,34.06,103.68,103.68
2,2009-03-01,91.38,8.20,23.56,72.710000,62.07,56.19,88.82,29.80,88.48,52.57,52.57
3,2009-04-01,27.63,92.10,13.54,9.070000,0.00,35.78,25.35,10.82,1.69,9.20,9.20
4,2009-05-01,46.92,25.26,27.95,40.940000,14.73,20.47,89.44,27.14,135.34,22.55,22.55
...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,20.00,11.66,1.29,30.829176,7.22,11.91,3.03,16.17,12.78,8.37,8.37
1100,2100-09-01,18.64,14.70,19.85,30.829176,11.76,20.18,19.77,26.39,14.23,22.47,22.47
1101,2100-10-01,2.12,5.51,29.93,30.829176,55.09,38.27,43.91,6.05,36.32,32.82,32.82
1102,2100-11-01,46.69,30.99,22.08,30.829176,30.85,42.07,55.16,38.45,7.26,51.99,51.99
1103,2100-12-01,46.28,23.26,42.82,30.829176,25.56,64.47,38.23,29.25,11.02,20.09,20.09

${\textbf{Generic Models}}$

In [6]:
def SPI(dataset):
    SPI=(dataset['RFm']-dataset['RFm'].mean())/dataset['RFm'].std()#SPI Calculation 
    return SPI

In [7]:
def SPI_Category(dataset):
    dataset['SPI_Category']=""#Creating a new column for the interpretation of the spi
    for i in range(0,len(dataset)):
        if(dataset['SPI'].values[i]>2):#SPI>2
            dataset['SPI_Category'].values[i]="Extremely wet"
        elif((dataset['SPI'].values[i]< 2) & (dataset['SPI'].values[i] >1)):#1<SPI< 2
            dataset['SPI_Category'].values[i]="Very wet"
        elif((dataset['SPI'].values[i]< 1) & (dataset['SPI'].values[i] >0)):#0<SPI< 1
            dataset['SPI_Category'].values[i]="Moderately Wet"
        elif((dataset['SPI'].values[i] >-1 )&( dataset['SPI'].values[i] <0)):#-1<SPI< 0
            dataset['SPI_Category'].values[i]="Moderately dry"
        elif((dataset['SPI'].values[i] >-2 )&( dataset['SPI'].values[i] <-1)):#-2<SPI<-1
            dataset['SPI_Category'].values[i]="Severely dry"
        else :#SPI< -2
            dataset['SPI_Category'].values[i]="Extremely dry"    
    return dataset['SPI_Category']

In [8]:
def Yearly(dataset):
    yearly=dataset.groupby(['Year','RG']).sum('RFm')#Summing Rainfall on Pluviometer and Trimestre
    yearly.drop(columns=['Zone','SPI','Month','SPI'],axis=1,inplace=True)#Droping the unuseful columns
    yearly.rename(columns = {'RFm':'RFy'}, inplace = True)#Renaming RF to TrimestrialRF for more clarity
    return yearly['RFy']

In [9]:
def Semastrial(dataset):
    Semastrial=dataset.groupby(['Semester','RG']).sum('RFm')#Summing Rainfall on Pluviometer and Semester
    Semastrial.drop(columns=['Zone','SPI','Month','Year'],axis=1,inplace=True)#Droping the unuseful columns
    Semastrial.rename(columns = {'RFm':'RFs'}, inplace = True)#Renaming P to MonthlyP for more clarity
    return Semastrial['RFs']

In [10]:
def Trimestrial(dataset):
    Trimestrial=dataset.groupby(['Trimester','RG']).sum('RFm')#Summing Rainfall on Pluviometer and Trimestre
    Trimestrial.drop(columns=['Zone','SPI','Month','Year'],axis=1,inplace=True)#Droping the unuseful columns
    Trimestrial.rename(columns = {'RFm':'RFt'}, inplace = True)#Renaming RF to TrimestrialRF for more clarity
    return Trimestrial['RFt']

In [11]:
def construct(dataset):
    dataset['RG']="RG_X"
    dataset['Zone']=0
    dataset['Semester']= dataset.Time.dt.year.astype(str) + 'S'+ np.where(dataset.Time.dt.quarter.gt(2),2,1).astype(str)
    dataset['Trimester']= dataset.Time.dt.year.astype(str) + 'T'+ dataset.Time.dt.quarter.astype(str)
    dataset['Month']= dataset.Time.dt.month
    dataset['Year']= dataset.Time.dt.year
    dataset['SPI']=SPI(dataset)#Creating a new column for the SPI 
    dataset['SPI_Category']=SPI_Category(dataset)#Creating a new column for the SPI 
    dataset = pd.merge(dataset,Yearly(dataset), on=['Year','RG'], how='inner')#Merging the zone with the pluviometric data on Rain Gauge
    dataset = pd.merge(dataset,Semastrial(dataset), on=['Semester','RG'], how='inner')#Merging the zone with the pluviometric data on Rain Gauge
    dataset = pd.merge(dataset,Trimestrial(dataset), on=['Trimester','RG'], how='inner')#Merging the zone with the pluviometric data on Rain Gauge
    column=['Time','RG','Zone','Semester','Trimester','Year','Month','SPI','SPI_Category','RFm','RFt','RFs','RFy']#Reindexing
    dataset=dataset.reindex(column, axis='columns')
    return dataset

${\textbf{MIROC-ESM}}$

In [12]:
MIROCESM=RCP45[['Time','MIROC-ESM']].copy()
MIROCESM.rename(columns = {'MIROC-ESM':'RFm'}, inplace = True)
MIROCESM=construct(MIROCESM)
MIROCESM

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,1.112823,Very wet,58.80,216.31,305.01,456.89
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,1.380418,Very wet,66.13,216.31,305.01,456.89
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,2.302214,Extremely wet,91.38,216.31,305.01,456.89
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.025094,Moderately dry,27.63,88.70,305.01,456.89
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,0.679122,Moderately Wet,46.92,88.70,305.01,456.89
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.303641,Moderately dry,20.00,95.37,190.46,421.26
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.353291,Moderately dry,18.64,95.37,190.46,421.26
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,-0.956383,Moderately dry,2.12,95.09,190.46,421.26
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.670725,Moderately Wet,46.69,95.09,190.46,421.26
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,0.655757,Moderately Wet,46.28,95.09,190.46,421.26

In [13]:
MIROCESM.to_pickle(".././Pickles/RCP45/MIROCESM.pkl")

${\textbf{CNRM-CM5}}$

In [14]:
CNRMCM5=RCP45[['Time','CNRM-CM5']].copy()
CNRMCM5.rename(columns = {'CNRM-CM5':'RFm'}, inplace = True)
CNRMCM5=construct(CNRMCM5)
CNRMCM5

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,0.693959,Moderately Wet,57.51,180.96,387.23,545.75
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,2.564624,Extremely wet,115.25,180.96,387.23,545.75
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,-0.903589,Moderately dry,8.20,180.96,387.23,545.75
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,1.814608,Very wet,92.10,206.27,387.23,545.75
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,-0.350878,Moderately dry,25.26,206.27,387.23,545.75
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.791492,Moderately dry,11.66,26.36,86.12,416.18
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.693002,Moderately dry,14.70,26.36,86.12,416.18
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,-0.990740,Moderately dry,5.51,59.76,86.12,416.18
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,-0.165237,Moderately dry,30.99,59.76,86.12,416.18
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,-0.415674,Moderately dry,23.26,59.76,86.12,416.18

In [15]:
CNRMCM5.to_pickle(".././Pickles/RCP45/CNRMCM5.pkl")

${\textbf{CanESM2}}$

In [16]:
CanESM2=RCP45[['Time','CanESM2']].copy()
CanESM2.rename(columns = {'CanESM2':'RFm'}, inplace = True)
CanESM2=construct(CanESM2)
CanESM2

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,-0.261700,Moderately dry,22.73,99.31,147.79,376.00
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,0.828914,Moderately Wet,53.02,99.31,147.79,376.00
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,-0.231815,Moderately dry,23.56,99.31,147.79,376.00
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.592593,Moderately dry,13.54,48.48,147.79,376.00
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,-0.073750,Moderately dry,27.95,48.48,147.79,376.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-1.033664,Severely dry,1.29,21.14,115.97,218.16
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.365397,Moderately dry,19.85,21.14,115.97,218.16
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,-0.002459,Moderately dry,29.93,94.83,115.97,218.16
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,-0.285104,Moderately dry,22.08,94.83,115.97,218.16
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,0.461655,Moderately Wet,42.82,94.83,115.97,218.16

In [17]:
CanESM2.to_pickle(".././Pickles/RCP45/CanESM2.pkl")

${\textbf{FGOALS-s2}}$

In [18]:
FGOALS_s2=RCP45[['Time','FGOALS-s2']].copy()
FGOALS_s2.rename(columns = {'FGOALS-s2':'RFm'}, inplace = True)
FGOALS_s2=construct(FGOALS_s2)
FGOALS_s2

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,0.103006,Moderately Wet,33.720000,172.120000,286.990000,394.54000
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,1.242165,Very wet,65.690000,172.120000,286.990000,394.54000
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,1.492303,Very wet,72.710000,172.120000,286.990000,394.54000
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.775326,Moderately dry,9.070000,114.870000,286.990000,394.54000
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,0.360270,Moderately Wet,40.940000,114.870000,286.990000,394.54000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,0.000000,Extremely dry,30.829176,92.487527,184.975055,369.95011
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,0.000000,Extremely dry,30.829176,92.487527,184.975055,369.95011
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,0.000000,Extremely dry,30.829176,92.487527,184.975055,369.95011
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.000000,Extremely dry,30.829176,92.487527,184.975055,369.95011
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,0.000000,Extremely dry,30.829176,92.487527,184.975055,369.95011

In [19]:
FGOALS_s2.to_pickle(".././Pickles/RCP45/FGOALS_s2.pkl")

${\textbf{BNU-ESM}}$

In [20]:
BNUESM=RCP45[['Time','BNU-ESM']].copy()
BNUESM.rename(columns = {'BNU-ESM':'RFm'}, inplace = True)
BNUESM=construct(BNUESM)
BNUESM

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,0.410278,Moderately Wet,39.34,159.38,245.66,343.83
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,1.152088,Very wet,57.97,159.38,245.66,343.83
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,1.315342,Very wet,62.07,159.38,245.66,343.83
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-1.156165,Severely dry,0.00,86.28,245.66,343.83
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,-0.569645,Moderately dry,14.73,86.28,245.66,343.83
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.868678,Moderately dry,7.22,42.14,153.64,256.99
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.687904,Moderately dry,11.76,42.14,153.64,256.99
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,1.037412,Very wet,55.09,111.50,153.64,256.99
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.072223,Moderately Wet,30.85,111.50,153.64,256.99
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,-0.138415,Moderately dry,25.56,111.50,153.64,256.99

In [21]:
BNUESM.to_pickle(".././Pickles/RCP45/BNUESM.pkl")

${\textbf{MIROC5}}$

In [22]:
MIROC5=RCP45[['Time','MIROC5']].copy()
MIROC5.rename(columns = {'MIROC5':'RFm'}, inplace = True)
MIROC5=construct(MIROC5)
MIROC5

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,0.155951,Moderately Wet,39.14,133.75,204.78,400.17
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,0.132992,Moderately Wet,38.42,133.75,204.78,400.17
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,0.699622,Moderately Wet,56.19,133.75,204.78,400.17
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,0.048811,Moderately Wet,35.78,71.03,204.78,400.17
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,-0.439376,Moderately dry,20.47,71.03,204.78,400.17
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.712328,Moderately dry,11.91,38.76,183.57,288.76
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.448624,Moderately dry,20.18,38.76,183.57,288.76
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,0.128209,Moderately Wet,38.27,144.81,183.57,288.76
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.249379,Moderately Wet,42.07,144.81,183.57,288.76
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,0.963645,Moderately Wet,64.47,144.81,183.57,288.76

In [23]:
MIROC5.to_pickle(".././Pickles/RCP45/MIROC5.pkl")

${\textbf{GFDL-ESM2G}}$

In [24]:
GFDLESM2G=RCP45[['Time','GFDL-ESM2G']].copy()
GFDLESM2G.rename(columns = {'GFDL-ESM2G':'RFm'}, inplace = True)
GFDLESM2G=construct(GFDLESM2G)
GFDLESM2G

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,-0.698150,Moderately dry,14.70,177.11,331.22,418.03
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,1.334182,Very wet,73.59,177.11,331.22,418.03
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,1.859780,Very wet,88.82,177.11,331.22,418.03
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.330612,Moderately dry,25.35,154.11,331.22,418.03
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,1.881176,Very wet,89.44,154.11,331.22,418.03
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-1.100890,Severely dry,3.03,55.72,193.02,337.46
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.523181,Moderately dry,19.77,55.72,193.02,337.46
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,0.309906,Moderately Wet,43.91,137.30,193.02,337.46
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.698151,Moderately Wet,55.16,137.30,193.02,337.46
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,0.113885,Moderately Wet,38.23,137.30,193.02,337.46

In [25]:
GFDLESM2G.to_pickle(".././Pickles/RCP45/GFDLESM2G.pkl")

${\textbf{MIROC-ESM-CHEM}}$

In [26]:
MIROCESMCHEM=RCP45[['Time','MIROC-ESM-CHEM']].copy()
MIROCESMCHEM.rename(columns = {'MIROC-ESM-CHEM':'RFm'}, inplace = True)
MIROCESMCHEM=construct(MIROCESMCHEM)
MIROCESMCHEM

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,0.194347,Moderately Wet,34.29,111.16,151.72,290.86
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,0.665513,Moderately Wet,47.07,111.16,151.72,290.86
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,0.028812,Moderately Wet,29.80,111.16,151.72,290.86
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.670933,Moderately dry,10.82,40.56,151.72,290.86
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,-0.069256,Moderately dry,27.14,40.56,151.72,290.86
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.473692,Moderately dry,16.17,69.61,143.36,279.67
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.096906,Moderately dry,26.39,69.61,143.36,279.67
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,-0.846791,Moderately dry,6.05,73.75,143.36,279.67
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.347716,Moderately Wet,38.45,73.75,143.36,279.67
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,0.008535,Moderately Wet,29.25,73.75,143.36,279.67

In [27]:
MIROCESMCHEM.to_pickle(".././Pickles/RCP45/MIROCESMCHEM.pkl")

${\textbf{GFDL-ESM2M}}$

In [28]:
GFDLESM2M=RCP45[['Time','GFDL-ESM2M']].copy()
GFDLESM2M.rename(columns = {'GFDL-ESM2M':'RFm'}, inplace = True)
GFDLESM2M=construct(GFDLESM2M)
GFDLESM2M

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,-0.891063,Moderately dry,10.27,132.81,296.21,450.31
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,-0.027733,Moderately dry,34.06,132.81,296.21,450.31
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,1.947148,Very wet,88.48,132.81,296.21,450.31
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-1.202428,Severely dry,1.69,163.40,296.21,450.31
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,3.647680,Extremely wet,135.34,163.40,296.21,450.31
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.799976,Moderately dry,12.78,48.17,102.77,295.93
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.747356,Moderately dry,14.23,48.17,102.77,295.93
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,0.054282,Moderately Wet,36.32,54.60,102.77,295.93
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,-1.000295,Severely dry,7.26,54.60,102.77,295.93
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,-0.863846,Moderately dry,11.02,54.60,102.77,295.93

In [29]:
GFDLESM2M.to_pickle(".././Pickles/RCP45/GFDLESM2M.pkl")

${\textbf{MRI-CGCM3}}$

In [30]:
MRICGCM3=RCP45[['Time','MRI-CGCM3']].copy()
MRICGCM3.rename(columns = {'MRI-CGCM3':'RFm'}, inplace = True)
MRICGCM3=construct(MRICGCM3)
MRICGCM3

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,-0.281313,Moderately dry,23.98,180.23,325.64,427.25
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,2.397690,Extremely wet,103.68,180.23,325.64,427.25
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,0.679699,Moderately Wet,52.57,180.23,325.64,427.25
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.778122,Moderately dry,9.20,145.41,325.64,427.25
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,-0.329381,Moderately dry,22.55,145.41,325.64,427.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.806022,Moderately dry,8.37,41.52,146.42,276.27
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.332070,Moderately dry,22.47,41.52,146.42,276.27
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,0.015831,Moderately Wet,32.82,104.90,146.42,276.27
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.660203,Moderately Wet,51.99,104.90,146.42,276.27
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,-0.412070,Moderately dry,20.09,104.90,146.42,276.27

In [31]:
MRICGCM3.to_pickle(".././Pickles/RCP45/MRICGCM3.pkl")

${\textbf{MRI-CGCM3.1}}$

In [32]:
MRICGCM31=RCP45[['Time','MRI-CGCM3.1']].copy()
MRICGCM31.rename(columns = {'MRI-CGCM3.1':'RFm'}, inplace = True)
MRICGCM31=construct(MRICGCM31)
MRICGCM31

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,-0.281313,Moderately dry,23.98,180.23,325.64,427.25
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,2.397690,Extremely wet,103.68,180.23,325.64,427.25
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,0.679699,Moderately Wet,52.57,180.23,325.64,427.25
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.778122,Moderately dry,9.20,145.41,325.64,427.25
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,-0.329381,Moderately dry,22.55,145.41,325.64,427.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-0.806022,Moderately dry,8.37,41.52,146.42,276.27
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.332070,Moderately dry,22.47,41.52,146.42,276.27
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,0.015831,Moderately Wet,32.82,104.90,146.42,276.27
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.660203,Moderately Wet,51.99,104.90,146.42,276.27
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,-0.412070,Moderately dry,20.09,104.90,146.42,276.27

In [33]:
MRICGCM31.to_pickle(".././Pickles/RCP45/MRICGCM31.pkl")

${\textbf{Mean of Models}}$

In [34]:
RCP45["Mean"] = RCP45.loc[:, ['MIROC-ESM', 'CNRM-CM5', 'CanESM2', 'FGOALS-s2', 'BNU-ESM',
       'MIROC5', 'GFDL-ESM2G', 'MIROC-ESM-CHEM', 'GFDL-ESM2M', 'MRI-CGCM3',
       'MRI-CGCM3.1']].mean(axis = 1)
Mean=RCP45[['Time','Mean']].copy()
Mean.rename(columns = {'Mean':'RFm'}, inplace = True)
Mean=construct(Mean)
Mean

,Time,RG,Zone,Semester,Trimester,Year,Month,SPI,SPI_Category,RFm,RFt,RFs,RFy
0,2009-01-01,RG_X,0,2009S1,2009T1,2009,1,0.034115,Moderately Wet,32.587273,158.488182,273.444545,411.898182
1,2009-02-01,RG_X,0,2009S1,2009T1,2009,2,2.144191,Extremely wet,68.960000,158.488182,273.444545,411.898182
2,2009-03-01,RG_X,0,2009S1,2009T1,2009,3,1.446933,Very wet,56.940909,158.488182,273.444545,411.898182
3,2009-04-01,RG_X,0,2009S1,2009T2,2009,4,-0.620267,Moderately dry,21.307273,114.956364,273.444545,411.898182
4,2009-05-01,RG_X,0,2009S1,2009T2,2009,5,0.639714,Moderately Wet,43.026364,114.956364,273.444545,411.898182
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099,2100-08-01,RG_X,0,2100S2,2100T3,2100,8,-1.162161,Severely dry,11.966289,52.072502,149.702278,312.445465
1100,2100-09-01,RG_X,0,2100S2,2100T3,2100,9,-0.689306,Moderately dry,20.117198,52.072502,149.702278,312.445465
1101,2100-10-01,RG_X,0,2100S2,2100T4,2100,10,-0.202106,Moderately dry,28.515380,97.629775,149.702278,312.445465
1102,2100-11-01,RG_X,0,2100S2,2100T4,2100,11,0.297277,Moderately Wet,37.123561,97.629775,149.702278,312.445465
1103,2100-12-01,RG_X,0,2100S2,2100T4,2100,12,-0.000486,Moderately dry,31.990834,97.629775,149.702278,312.445465

In [35]:
Mean.to_pickle(".././Pickles/RCP45/Mean.pkl")